options.txt
optionsof.txt
logs/
local/
journeymap/
crash-reports/
saves/
backups/
screenshots/
local/
dumps/
TombManyGraves/
downloads/
discordsuite/
journeymap/
.mixin.out/audit/mixin_implementation_report.txt
.mixin.out/audit/mixin_implementation_report.csv
knownkeys.txt
patchouli_data.json
roots.log
minecraftinstance.json
modpack.code-workspace
optionsof.txt
optionsshaders.txt
usercache.json
usernamecache.json
resources/mainmenu/button_old.png
*.log
.curseclient
patchouli_data.json
config/jei/worldSettings.cfg
local/ftbutilities/backups.json
options.txt
config/agricraft/json/server*
shaderpacks/*.txt
*.xcf
config/jei/bookmarks.ini
servers.dat
WailaErrorOutput.txt
config/InvTweaks.cfg
mods/Chunk Pregenerator-V1.12-2.4.1.jar
config/pregenerator
resources/pack.mcmeta
config/ThermalTinkering/moltenFluids.txt
config/ThermalTinkering/fluids.txt
config/splash.properties
mods/memory_repo/net/ilexiconn/llibrary-core/1.0.11-1.12.2/llibrary-core-1.0.11-1.12.2.jar.meta
config/InvTweaks.cfg
mods/UNU *.jar
config/jei/bookmarks.ini
Progresson modpack.drawio
config/triumph/script/triumph/examples/*
stagable entities.txt
armorable entities.txt
.sync*
config/ichunutil.cfg
.vscode/sftp.json
config/triumph/script/ignore*
config/vanillafix.cfg
config/chiselsandbits_clipboard.cfg
shaderpacks/*.zip.txt
