logs/
crash-reports/
saves/
backups/
screenshots/
TombManyGraves/
downloads/
discordsuite/
journeymap/
.mixin.out/audit/mixin_implementation_report.txt
.mixin.out/audit/mixin_implementation_report.csv
knownkeys.txt
hs_err_pid17104.log
crafttweaker.log
minecraftinstance.json
modpack.code-workspace
optionsof.txt
optionsshaders.txt
usercache.json
usernamecache.json
.curseclient
patchouli_data.json
config/jei/worldSettings.cfg
hs_err_pid11536.log
config/splash.properties
config/splash.properties
local/ftbutilities/backups.json
options.txt
config/agricraft/json/server*
shaderpacks/*.txt
*.xcf
config/jei/bookmarks.ini
servers.dat
WailaErrorOutput.txt
config/splash.properties
config/InvTweaks.cfg
resources/pack.mcmeta
